version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-app
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - laravel-network
    depends_on:
      - mysql
      - rabbitmq
      - redis

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel-network
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: laravel
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - laravel-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: laravel_rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672" # AMQP port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - laravel-network

  redis:
#    image: redis:alpine
    image: redis
    container_name: laravel_redis
    restart: unless-stopped
    ports:
      - "6379:6379" # Redis port
    volumes:
      - redis-data:/data
    networks:
      - laravel-network

#  cron:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: laravel_cron
#    restart: unless-stopped
#    volumes:
#      - .:/var/www
#    command: >
#      sh -c "echo '* * * * * php /var/www/artisan schedule:run >> /var/www/storage/logs/cron.log 2>&1' > /etc/cron.d/laravel-cron &&
#            cron && tail -f /var/www/storage/logs/cron.log"
#    networks:
#      - laravel-network
#    depends_on:
#      - app

  queue:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_queue
    restart: unless-stopped
    volumes:
      - .:/var/www
    command: php /var/www/artisan queue:work --queue=default
    networks:
      - laravel-network
    depends_on:
      - rabbitmq
      - app
      - redis

networks:
  laravel-network:
    driver: bridge

volumes:
  mysql-data:
  redis-data:
